/* General colors */
$c--white: #fff;
$c--black: #000;
$c--gold: #b48529;
$c--blue: #2a9ed9;
$c--text-general: #000;
$c--light-gray: rgb(235, 235, 235);
$c--orange: #fa5221;
$c--border-light-gray: rgb(200, 200, 200);
$c--dark-gray: rgb(94, 94, 94);
